@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
}
 .calendar {
  background-color: #fff;
  height:100vh;
  width:46%;
  min-width: 735px;
  font-size: 2.5vh;
  /*display: flex;*/      /* display 설정해줘야 아래 flex로 해주면 direction 선택가능*/
  flex-direction: column;   /* 이건 세로순으로  태그들을 표시함 css*/
  align-items: center;      /* 이건 가로 중앙 css*/
  justify-content: center;  /* 이건 세로 중앙 css*/
  padding : 1.5vw;
  text-align: center;
  margin-left : 4vh;
}
.calendar .control{
  font-family: "Pretendard-Regular";
  font-size: 3.5vh;
  flex-direction: row;
  padding: 0 0 10vh 1vh;
}

.calendar .control span:nth-child(1){
  float: left;
}

.calendar .control span:nth-child(2){
  float: right;
}

.calendar table{
  display:flex;
  height:50vh;
  display: inline-block;
}
.calendar table tbody{
  display:flex;
  flex-direction: column;
}
.calendar tr{
    display:flex;
    flex-direction: row;
}
.calendar td{
    display: flex;
    border-left: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    width: 6vw;
    min-width: 100px;
    padding : 0.5vh 0 0 0.5vh;
    height: 15vh;
    font-size: 1.5vh;
    font-family: 'appleL';
}
.calendar td button{
  height: 83%;
  margin-left: 0.5vh;
  margin-top: 1.8vh;
  padding-right: 0;
  overflow: hidden;
  display: flex;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.calendar td button img{
  position: relative;
  pointer-events: none;
}
.poster1 img{
  height: 100%;
}
.poster2 img:nth-child(1){
  height: 100%;
}
.poster2 img:nth-child(2){
  height: 100%;
  left : -38%;
}
.poster3 img:nth-child(1){
  height: 100%;
}
.poster3 img:nth-child(2){
  height: 50%;
  left: -48%;
}
.poster3 img:nth-child(3){
  height: 50%;
  left: -97%;
  top: 50%;
}
.poster4 img{
  height: 50%;
}
.poster4 img:nth-child(2){
  top: 50%;
  left: -44%;
}
.poster4 img:nth-child(3){
  left: -45%;
}
.poster4 img:nth-child(4){
  left: -88%;
  top: 50%;
}
.calendar td span{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    margin-left:auto;
    margin-right:0.7vh;
}

.monthMoveB {
  border: 0px;
  background-color: #fff;
  font-family: 'appleL';
  font-size: 2vh;
}

.calendarHead td{
  border: 0px;
  font-size: 1.8vh;
  height: 2.8vh;
  text-align: center;
  display: block;
}
