@font-face {
  font-family: 'appleH';
  src: url(../public/font/AppleSDGothicNeoH.ttf);
}
@font-face {
  font-family: 'appleL';
  src: url(../public/font/AppleSDGothicNeoL.ttf);
}

.mainContainer {
  padding : 2vh;
  display: flex;
  background-color: #f7f9fa;
}

